

.slide{
	max-height: 400px;
}
.fslider {
	max-height: 400px;
}
.slider-wrap{
	max-height: 400px;
}

.section {

    background-color: #7a3931;
    color: #fff;
}



.portfolio-filter li.activeFilter a {
    background-color: #827d7d;

}

.color{
	color:#98483d;
	
}

.bgcolor{
	background: #98483d
	color:#fff;
}