

.slide{
	max-height: 400px;
}
.fslider {
	max-height: 400px;
}
.slider-wrap{
	max-height: 400px;
}

.section {

    background-color: #800e00;
    color: #fff;
}



.portfolio-filter li.activeFilter a {
    background-color: #827d7d;

}

body {
    line-height: 1.5;
    color: #555;
    font-family: 'Lato', sans-serif;
    background: #fff !important;
}

a {
	text-decoration: none !important;
	color: #98463d !important;
}

.color{
	color:#800e00;
	
}

.bgcolor{
	background: #800e00
	color:#fff;
}

.badge{
	background: #800e00;
    color: #fff;
    border-radius: 50px;
    padding: 4px 6px;
    font-size: 12px;

}